.formValidater > .nav-link {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c !important;
}

.formValidater > .nav-link:hover {
  border: none !important;
  color: #161616 !important;

}

.formValidater > .nav-link.active {
  font-family: "Roboto", sans-serif;
  color: #161616 !important;
}
